# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files (if applicable)
.env/
.venv/

# Ignore local Python build and distribution directories
build/
dist/
*.egg-info/

# Ignore system files
.DS_Store
